[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.8"
pymysql = "*"
pip = "==19.0.3"
djangorestframework = "*"
django-filter = "*"
isort = "*"
gunicorn = "*"
requests = "*"
selenium = "*"
pyjwt = "*"
python-dateutil = "*"
requests-oauthlib = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.7"
