-i https://pypi.org/simple
asn1crypto==0.24.0
beautifulsoup4==4.8.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
django-filter==2.2.0
django==2.1.8
djangorestframework==3.10.2
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-bigquery==1.18.0
google-cloud-core==1.0.3
google-cloud-storage==1.18.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gunicorn==19.9.0
idna==2.8
isort==4.3.21
lxml==4.9.1
numpy==1.17.0
oauthlib==3.1.0
pandas==0.25.1
protobuf==3.9.1
pyarrow==0.14.1
pyasn1-modules==0.2.6
pyasn1==0.4.6
pycparser==2.19
pyjwt==1.7.1
pymysql==0.9.3
python-dateutil==2.8.0
pytz==2019.2
requests-oauthlib==1.2.0
requests==2.22.0
rsa==4.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.3
pip==19.0.3
